asyncua
fastapi
uvicorn[standard]
sqlalchemy
pydantic
psutil
bcrypt
pyjwt
paho-mqtt
pymodbus
python-multipart
pytest
pytest-asyncio
requests
python-jose[cryptography]
adafruit-circuitpython-ads1x15
adafruit-circuitpython-mcp3xxx
Adafruit-Blinka
RPi.GPIO
